

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: 0.4s;
}

.input {
    visibility: hidden;
}

.label {
    position: absolute;
    width: 80px;
    height: 40px;
    background: lightgray;
    border-radius: 20px;
    cursor: pointer;
}

.circle {
    position: absolute;
    width: 34px;
    height: 34px;
    background: white;
    border-radius: 50%;
    top: 3px;
    left: 3px;
     animation: toggleOff 0.3s linear forwards;
}
.input:checked + .label{
    background: white;
}

.input:checked + .label .circle{
    animation: toggleOn 0.3s linear forwards;
    background-color: black;
}

@keyframes toggleOn {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(40px);
    }
}
@keyframes toggleOff {
    0% {
        transform: translate(40px);
    }
    100% {
        transform: translate(0);
    }
}