body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    background-color: aqua;
}
.img-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.img-container img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.btn{
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
}
.btn:hover{
    background-color: darkgreen;
}