

body {
    margin: 0;
    font-family: cursive;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container {
    background-color: rgb(93, 64, 224);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    text-align: center;
    color: white;
}
.textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    color: black;
}
.character-counter {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 16px;
}

.total-character {
    color: rgb(71, 255, 200);
}
.Remaining-character{
    color: yellow; 
}