

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:cursive ;
}

.testimonial-container {
    width: 400px;
    height: 150px;
    background-color: slateblue;
    padding: 70px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    margin: 5px;
    position: relative;
    color: white;

}


img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: -50px;
}
img, .text, .username {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

img.show, .text.show, .username.show {
  opacity: 1;
}
